#room-header{
  height:20px;
  width:100%;
  padding:0px;
  margin:0px;
  display: flex;
}
#room-name{
  margin:0px;
}
#room-info{
  display:flex;
}
.navbar{
  margin-bottom: 0px;
}
#room-delete{
  padding-top: 0px;
  font-size: 12px;
  margin-left: 20px;
}